name: CI

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: [ '4.0', '3.4', '3.3', '3.2' ]

    steps:
    # FIXME: This is workaround for https://github.com/ruby/rubygems/issues/9284.
    - name: Remove pre-installed Ruby 4.0
      if: matrix.ruby == '4.0'
      run: rm -rf /opt/hostedtoolcache/Ruby/4.0*
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install ffmpeg
      run: |
        sudo apt update && sudo apt install ffmpeg
    - name: Install dependencies
      run: |
        gem install bundler --no-document
        bundle install
    - name: Run test
      run: bundle exec rake
